body {
    margin: 0;
}

.title-animated {
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 1.5px;
    color: transparent;
    display: inline-block;
    vertical-align: bottom;
    white-space: nowrap;
}

#animated-title {
    font-family: 'Montserrat';
    font-size: 50px;
    font-weight: 900;
    font-style: bold;
    background-image: linear-gradient(to right, #ffffff, #939393);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    padding: 0 78px 0 0;
}

#changing-word {
    font-family: 'Montserrat-Bold';
    font-size: 50px;
    font-weight: 900;
    font-style: bold;
    position: relative;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 1.5px;
    color: transparent;
    display: inline-block;
    overflow: hidden;
    vertical-align: bottom;
    white-space: nowrap;
    margin: 0;
    border-right: 0.08em solid white;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: #000;
    }
}

.imagen-header {
    filter: drop-shadow(16px 16px 10px rgb(1, 17, 67));
}

.swiper {
    width: 80%;
    height: 80%;
}

.carousel {
    padding: 20px;

    perspective: 500px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;

    >* {
        flex: 0 0 auto;
    }

    figure {
        margin: 0;
        width: 40%;
        transform-style: preserve-3d;
        transition: transform 0.5s;
    }

    figure img {
        width: 100%;
        box-sizing: border-box;
        padding: 0 calc(0px / 2);
    }

    figure img:not(:first-of-type) {
        position: absolute;
        left: 0;
        top: 0;
    }

    nav {
        display: flex;
        justify-content: center;
        margin: 20px 0 0;
    }

    nav button {
        flex: 0 0 auto;
        margin: 0 5px;
        cursor: pointer;
        color: white;
        background: none;
        border: 1px solid;
        letter-spacing: 1px;
        padding: 5px 10px;
        border-radius: 1.5rem;
    }
}

@media (max-width: 768px) {
    .carousel {
        padding: 5px;
    }

    .carousel figure {
        width: 100%;
    }

    .carousel nav button {
        padding: 3px 5px;
    }
}